p {
  font-size: 10px;
}

.switch {
  position: fixed;
  height: 17px;
  right: 20px;
  bottom: 10px;

  display: flex;
  gap: 10px;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--secondary-highlight);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 13px;
}

input:checked + .slider {
  background-color: var(--secondary-highlight);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
